<!DOCTYPE html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" href="main.css">
    <meta charset="utf-8">
    <title>readit</title>
  </head>
  <body>
    <div ng-controller="MainController" class="container">
      <header>
        <h1 class="title">Reddit Clone</h1>
        <button type="button" ng-click="newPost()">+submit post</button>
        <input type="text" ng-model="search" placeholder="Search">
        <select ng-model="sort.selection">
          <option value="">sort by votes</option>
          <option value="votes">votes</option>
          <option value="date">date</option>
          <option value="title">title</option>
        </select>
      </header>
      <div class="content">
        <section class="add-post">
          <form ng-submit="addPost()" ng-show="showNewPost">
                      <h5>Title</h5>
                      <input name="title" type="text" ng-model="title" placeholder="title">
                      <h5>Author</h5>
                      <input name="author" type="text" ng-model="author" placeholder="author">
                      <h5>Image URL</h5>
                      <input name="image" type="text" ng-model="image" placeholder="image URL">
                      <h5>Description</h5>
                      <input name="description" type="text" ng-model="description" placeholder="description">
                      <input type="submit" value="Submit">
          </form>
        </section>
        <section class="posts">
          <div class="post"  ng-repeat-start="post in content">
            <img class="img" ng-src={{post.image}} alt="awesome pic" />
            <p>{{post.title}}</p>
            <p>{{post.author}}</p>
            <p>{{post.description}}</p>
          </div>
          <a  ng-repeat-end></a>
        </section>
      </div>

    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="text/javascript" src="controllers.js"></script>
  </body>
</html>
