body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  width: 100vw;
}
header {
  color: #777;
  background-color: #eee;
  display: flex;
  align-items: center;
}
.title {
  font-size: 18px;
  margin: 5px 10px 5px 5px;
}
header > button, header > input{
  margin-right: 9px
}
form {
  color: #777
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.add-post {
 width: 80%;
}
.add-post input[type=text] {
  width: 100%;
  border: solid blue 1px;
}
.add-post input[type=submit] {
  margin-top: 10px
}
.post {
  display: flex;
  background-color: #eee;
  width: 100%;
  margin: 10px;
  min-height: 220px;
}
.img {
  width:30%;
  max-width: 200px;
  max-height:200px;
  margin: 10px
}
.posts {
  width: 90%;
}
.post-text {
  color: #555;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.byLine {
  align-self: flex-end;
}
