body {
  margin: 0;
  padding: 0;
  background-color: #333
}
.container {
  height: 100vh;
  width: 100vw;
}
header {
  color: #777;
  background-color: #eee;
  display: flex;
  align-items: center;
}
.title {
  font-size: 18px;
  margin: 5px 10px 5px 5px;
}
header > button, header > input{
  margin-right: 9px
}
form {
  color: #777
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.add-post {
 width: 80%;
}
.add-post input[type=text] {
  width: 100%;

}
.add-post input[type=submit] {
  margin-top: 10px
}
.post {
  display: flex;
  background-color: #eee;
  width: 100%;
  margin: 10px;
  min-height: 220px;
}
.img {
  width:30%;
  max-width: 200px;
  max-height:200px;
  margin: 10px
}
.posts {
  width: 90%;
}
.post-text {
  color: #555;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.byLine {
  align-self: flex-end;
}
input.ng-invalid {
    border: solid red 1px
}
input.ng-valid {
    border: solid blue 1px
}
.red {
    border: solid red 1px;
}
.comment-form {
  display: flex;
  align-items: baseline;
}
.comment-form > input[type=text]{
  height: 20px;
  margin:5px;
  padding-bottom:
}
.ng-hide-remove, .ng-enter {
 transition:0.3s ease all;
 transform: translateX(-100%);
 opacity: 0;
}

.ng-hide-remove-active, .ng-enter.ng-enter-active {
 transform: translateX(0);
 opacity: 1;
}
.ng-hide-add, .ng-leave {
 transition:0.3s ease all;
 transform: translateX(0);
 opacity: 1;
}

.ng-hide-add-active, .ng-leave.ng-leave-active {
 transform: translateX(100%);
 opacity: 0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
